@import "vars"
@import "fonts"

//start global style
body 
    font-family: $main-font
    font-size: 1.250vw
    font-weight: 400
    line-height: 1.2
    box-sizing: border-box
    font-weight: 400
    letter-spacing: -0.05vw
.container-fluid 
    width: 69.861vw 
    max-width: 87.200vw
    padding-left: 0 
    padding-right: 0
p 
    margin-bottom: 0
.h2 
    text-transform: uppercase
    color: #fff
    line-height: 0.9
    font-weight: 700
    font-size: 2.361vw
    margin-bottom: 1.250vw
    span 
        color: $orange
        
.h2-l 
    font-size: 2.778vw
    display: block
.sub-title 
    font-size: 1.667vw
    font-weight: 700 
    text-transform: uppercase
    margin-bottom: 0.694vw
    line-height: 1.1
    span 
        display: block 
        font-weight: 400
.white 
    color: #fff
.black 
    color: #000
.grey 
    color: #545454
.gold 
    color: $gold
.h2 
    .gold 
        color: $gold
.h2 
    .grey 
        color: #A3A3A3
.light-grey 
    color: #D9D9D9
.container-fluid--1000
    width: 75vw
    max-width: 87.200vw
.text-14
    font-size: 0.972vw 
    font-weight: 700
.sub-title--light-grey 
    color: #D9D9D9
//end global style

//start top-header
.top-header 
    text-align: center
    font-size: 0.972vw
    text-align: center
    background: #000
    color: #fff
    padding: 0.694vw 0
    position: absolute 
    top: 0 
    left: 0 
    width: 100%
    letter-spacing: 0vw
//end top-header

//start main screen style
.main-screen
    background: url('../img/hero.png')
    background-size: 100vw
    background-repeat: no-repeat
    height: 64.097vw
    padding-top: 33.611vw
    .container-fluid 
        width: 93.472vw
    .h2 
        text-align: right
        width: 46.944vw

//end main-screen style

//start header style
.header 
    color: #fff
    position: absolute 
    top: 4.375vw
    width: 100%
    .container-fluid 
        width: 83.333vw 
        max-width: 83.333vw
        display: flex
        justify-content: space-between 
        align-items: center
        ul 
            display: flex 
            padding: 0 
            margin: 0 
            list-style: none
            a 
                color: #fff
                text-decoration: none
                font-size: 1.250vw
                padding-bottom: 0.417vw
                padding-top: 0.417vw
            a.active 
                font-weight: 700
                border-bottom: 0.139vw solid #fff 
            li 
                margin-left: 2.778vw
.logo 
    img 
        width: 4.769vw
.mobile-menu-header,
.mobile-menu__footer
    display: none
//end header style

//start company overview style
.company-overview 
    padding-top: 11.6vw
    padding-bottom: 10vw
    position: relative
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(252, 252, 252, 0.52) 52.08%, rgba(217, 217, 217, 0.44) 100%)
    .container-fluid 
        display: flex 
        justify-content: flex-end
.company-overview__content
    width: 38vw
    position: relative
    z-index: 3

.company-overview__bg
    height: 100% 
    width: 84.722vw 
    background: #000
    background-image: url('../img/co.png')
    background-size: auto 40.972vw
    background-repeat: no-repeat
    position: absolute 
    top: 0 
    right: 0
.company-overview__img 
    position: absolute 
    width: 39.792vw
    top: -6.736vw
    left: 0
    img 
        width: 100%
//end company overwiew style

//start market-opotunity style
.img-text-section 
    padding-bottom: 6.597vw
    position: relative
    z-index: 4
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(252, 252, 252, 0.52) 52.08%, rgba(217, 217, 217, 0.44) 100%)
    .container-fluid
        display: flex 
        justify-content: space-between
        align-items: flex-start
.img-text-section__content 
    padding-top: 13.333vw
    width: 48.611vw
.img-text-section__img
    margin-top: -5.764vw
.img-text-section__img 
    width: 16.111vw
.img-text-section--reverse 
    padding-bottom: 6.250vw
    .img-text-section__content
        width: 42.083vw
        padding-top: 10.694vw
    .img-text-section__img 
        width: 24.073vw
//end market opotunity style 

//start critical-minerals style
.critical-minerals
    padding-top: 5.903vw
    padding-bottom: 5.7vw
    background: url('../img/cm.png')
    background-repeat: no-repeat
    background-size: 100vw
    color: #fff
    position: relative
.critical-minerals__header
    width: 40.360vw
.critical-minerals__item
    margin-top: 1.6vw
.critical-minerals__item-title 
    font-size: 0.972vw
    margin-bottom: 0.833vw
.critical-minerals__item-row
    display: flex
    align-items: flex-start
.critical-minerals__icon-wrapper
    text-align: center
    img 
        width: 4.306vw
.critical-minerals__icon-title
    font-size: 0.972vw
    margin-top: 0.694vw
    font-weight: 600
    text-transform: uppercase
.critical-minerals__icon-wrapper 
    margin-right: 1.389vw
.critical-minerals__item-col
    display: flex
.critical-minerals__item-col--2 
    padding-top: 0.417vw
.critical-minerals__item-col--2
    img 
        margin-left: 0.833vw
        width: 3.472vw
.critical-minerals__item-col--1
    min-width: 17.986vw
.cm-bg 
    position: absolute 
    top: 0 
    right: 0
    width: 43.333vw
.critical-minerals__footer 
    font-weight: 700 
    font-size: 0.972vw
    margin-top: 2.083vw
//end critical-minerales style

//start text-section 
.text-section 
    padding-top: 4.375vw
    padding-bottom: 4.375vw
    background: #F4F4F4
.text-section__content 
    width: 42.083vw
.text-18 
    font-size: 1.250vw
.h2
    .black 
        color: #000
//end text-section

//start chart-section style
.chart-section 
    background: #202326
    
    .container-fluid 
        position: relative
        padding-top: 10.208vw 
        padding-bottom: 7.361vw
.chart-section__img 
    position: absolute 
    top: -22vw 
    right: 0
    width: 16.111vw
.chart-row 
    display: flex 
    justify-content: space-between
.chart1
    width: 35.486vw
.chart2
    width: 30.625vw
.chart-section-text 
    margin-top: 2.083vw
//end chart-section style

//start footer 
.footer 
    background: #000
    color: #fff
    padding-top: 4.167vw 
    padding-bottom: 4.167vw
    .container-fluid 
        display: flex 
        justify-content: space-between 
        align-items: center
    a 
        text-decoration: none
        margin-left: 1.667vw
        img 
            width: 2.639vw
.mobile-menu__copy
    font-size: 1.111vw
//end footer

//start about hero 
.about-hero 
    height: 69.097vw
    background: url('../img/about.png')
    background-size: 100vw
    padding-top: 26.806vw
    background-repeat: no-repeat
    .container-fluid
        display: flex 
        justify-content: flex-end
        width: 74vw
.about-hero__title 
    width: 28vw
    
//end about hero
.header--black
    .menu 
        li a 
            color: #000
        li a.active 
            border-color: #000
.about-item 
    width: 50%  
    padding-top: 6.111vw
    padding-bottom: 6.111vw
    p 
        margin-bottom: 0.694vw     
.about-row
    display: flex
.about-item:first-child 
    border-right: 0.139vw solid $gold
    transform: translateX(0.4vw) 
    padding-right: 4.722vw
.about-item:nth-child(2)
    padding-left: 4.722vw
    text-align: right
.about 
    padding-bottom: 3.750vw

//start team style 
.team 
    padding-top: 52.083vw
    padding-bottom: 4.167vw
    background-color: #000
    background-image: url('../img/team.png')
    background-size: 100vw 
    background-repeat: no-repeat
.team-list 
    padding-top: 4.167vw
.team-list 
    display: flex 
    justify-content: space-between
.team__item 
    width: 15vw
    img 
         
        object-fit: cover 
        object-position: center
    p 
        padding-top: 0.694vw
.team__item-img-wrapper
    height: 16.667vw  
    overflow: hidden
    border-radius: 0.694vw

.team__item-img 
    width: 160%
    position: relative 
    left: -1.8vw
    top: -1.8vw

    
.team__item-name 
    padding-top: 1.250vw
    font-weight: 700 
    color: $gold 
    text-transform: uppercase
.team__item-sub-title 
    font-size: 1.111vw
    color: #fff
    margin-top: 0.139vw
.team__item:nth-child(3),
.team__item:nth-child(4)
    .team__item-img 
        left: -5.5vw
//end team style 


@import "media"



